.main {
  border-radius: 3px;
  font-size: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--color-indigo);
  color: var(--color-white);
  padding: 7px 15px;
  margin: 10px 0;
  cursor: pointer;
}

.outlined {
  border: 2px solid var(--color-indigo);
  color: var(--color-indigo);
  background-color: var(--color-white);
}

.danger {
  border: 2px solid var(--color-danger);
  color: var(--color-danger);
  background-color: var(--color-white);
}

.main span {
  padding-right: 15px;
}