.backToShow {
  position: absolute;
  font-size: 26px;
  bottom: 10%;
  left: 6%;
  cursor: pointer;
  background-color: #2e2e2e;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.backToShowIcon {
  padding-right: 3px;
}

.showContainer {
  border: 1px solid #383838;
  width: 80%;
  margin: 0 auto;
}

.showIconsContainer {
  padding-top: 25px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 115px;
}

.showIcon {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  cursor: pointer;
  padding: 5px;
}

.delete {
  color: red;
}

.eventListIcon {
  color: blue;
}

.mostRecent {
  padding: 10px 0 35px;
}

.eventListTable {
  width: 100%;
}

.eventListTable thead {
  border-bottom: 1px solid #383838;
}

.eventListTable tr {
  display: flex;
}

.eventListTable td, .eventListTable th {
  width: 33%;
  padding: 7px 0;
}

.eventRow {
  background: #bdf4ff;
  border-radius: 3px;
  margin: 3px 1px 3px 2px;
  cursor: pointer;
}

.loadMore {
  padding: 20px 0;
}
