.backToShow {
  position: absolute;
  font-size: 40px;
  bottom: 10%;
  left: 7%;
  cursor: pointer;
}

.showContainer {
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
}

.showIconsContainer {
  padding-top: 25px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 115px;
}

.showIcon {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  cursor: pointer;
  padding: 5px;
}

.mostRecent {
  padding: 10px 0 35px;
}
