.categoryDetails {
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  color: var(--color-black);
}

.toggleText {
  padding-left: 6px;
}

.showContainer {
  width: 80%;
  margin: 0 auto;
  /* height of header component */
  height: calc(100% - 115px);
}

.categoryOverview {
  border: 1px solid var(--color-black);
  max-height: 75%;
  overflow: auto;
}

.showIconsContainer {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  width: 115px;
}

.showIcon {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  cursor: pointer;
  padding: 5px;
}

.delete {
  color: var(--color-danger);
}

.eventListContainer {
  height: 63%;
}

.eventListIcon {
  color: var(--color-indigo);
}

.mostRecent {
  padding: 10px 0 35px;
}

.eventListTable thead {
  background-color: var(--color-main-bg);
}

.eventRow {
  background: var(--color-indigo);
  color: var(--color-white);
}

.loadMore {
  padding: 20px 0;
  width: 230px;
  margin: 0 auto;
}

.editIcon {
  font-size: 24px;
  cursor: pointer;
  padding-left: 8px;
}

.editCategoryContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.updateIcon {
  color: var(--color-green);
  margin-left: 12px;
}

.cancelIcon {
  color: var(--color-danger);
}

.editorButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.title {
  max-width: 62%;
  max-height: 72px;
  overflow: hidden;
}
