.background {
  position: absolute;
  height: 100vh;
  width: 100vh;
}

.container {
  position: absolute;
  right: 0;
  top: 0;
  background-color: beige;
  width: 200px;
  height: 100%;
  border-left: 2px solid black;
  padding: 15px 5px;
  box-sizing: border-box;
  z-index: 1;
}

.iconContainer {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 15px;
}

.list {
  text-align: left;
  padding-left: 20px;
  list-style-type: none;
}

.list li {
  padding: 5px 0;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.list li a {
  text-decoration: none;
  color: black;
}
