.background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.container {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--color-vry-dk-green);
  width: 200px;
  height: 100%;
  border-left: 2px solid var(--color-black);
  border-right: 2px solid var(--color-black);
  padding: 15px 5px;
  box-sizing: border-box;
  z-index: 2;
  color: var(--color-white);
}

.iconContainer {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 15px;
  font-size: 24px;
}

.list {
  text-align: left;
  padding-left: 20px;
  list-style-type: none;
}

.list li {
  padding: 5px 0;
  font-size: 20px;
  color: var(--color-white);
  cursor: pointer;
}

.list li a {
  text-decoration: none;
  color: var(--color-white);
}
