.titleContainer {
  padding: 20px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.container {
  width: 96%;
  height: 78%;
  margin: 0 auto;
}

.daysContainer {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
}

.day {
  position: relative;
  height: 16.67%;
  border-left: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  flex: 1 0 14%;
  cursor: pointer;
  text-align: left;
  padding: 3px;
  background-color: var(--color-white);
  overflow: hidden;
}

.dayNumber {
  padding: 0 2px;
  margin: 3px;
}

.dayHasEvents {
  font-weight: bold;
  color: var(--color-white);
  border: 2px solid var(--color-indigo);
  border-radius: 10px;
  background-color: var(--color-indigo);
}

.eventList {
  position: absolute;
  white-space: nowrap;
  padding-top: 1px;
}

.outsideCurrentMonth {
  background-color: #e0e0e0;
}

.outsideCurrentMonth .dayHasEvents {
  border-color: var(--color-inactive-gray);
  background-color: var(--color-inactive-gray);
}

.tallDay {
  height: 20%;
}

.extraTallDay {
  height: 25%;
}

.day:nth-child(7n) {
  border-right: 1px solid var(--color-black);
}

.daysOfWeekHeader {
  display: flex;
  height: 25px;
}

.dayHeader {
  border-bottom: 1px solid var(--color-black);
  flex: 1 0 14%;
}

.optionsContainer {
  display: flex;
  justify-content: center;
  margin: 8px 0;
}

.optionsContainer div:first-child {
  width: 135px;
}

@media screen and (max-width: 420px) {
  .titleContainer {
    padding: 50px 0 10px;
  }
}
