.titleContainer {
  padding: 20px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.container {
  width: 96%;
  height: 78%;
  margin: 0 auto;
}

.daysContainer {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
}

.day {
  height: 16.67%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  flex: 1 0 14%;
  cursor: pointer;
  text-align: left;
  padding: 1px 6px;
}

.outsideCurrentMonth {
  background-color: #e0e0e0;
}

.tallDay {
  height: 20%;
}

.extraTallDay {
  height: 25%;
}

.day:nth-child(7n) {
  border-right: 1px solid black;
}

.daysOfWeekHeader {
  display: flex;
  height: 25px;
}

.dayHeader {
  border-bottom: 1px solid black;
  flex: 1 0 14%;
}

.optionsContainer {
  display: flex;
  justify-content: center;
  margin: 8px 0;
}

.optionsContainer div:first-child {
  width: 135px;
}
