.formContainer {
  width: 70%;
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto;
}

.formRow {
  text-align: left;
  padding-bottom: 20px;
}

.label {
  font-size: 18px;
  display: block;
  padding-bottom: 5px;
}

.startEndRow {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.timePick {
  width: 45%;
  text-align: left;
}

.durationInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
}

.footerContainer {
  font-size: 50px;
  padding-top: 17px;
  display: flex;
  justify-content: space-evenly;
}

.saveIcon {
  color: green;
  cursor: pointer;
}

.deleteIcon {
  color: red;
  cursor: pointer;
}
