.eventContainer {
  background-color: bisque;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  padding: 12px;
  font-size: 20px;
}

.eventIcons {
  display: flex;
  width: 25%;
  justify-content: space-around;
}
