/* .dateSelectContainer {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  padding: 50px 0 30px;
}

.dateDisplay {
  padding: 0 15px;
  font-size: 24px;
} */

/* .eventList {
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
  height: 75%;
} */

.eventContainer {
  background-color: bisque;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  margin: 4px;
  padding: 12px;
  font-size: 20px;
}

.eventIcons {
  display: flex;
  width: 25%;
  justify-content: space-around;
}
