.modalContainer {
  position: fixed;
  z-index: 3;
  width: 65%;
  min-width: 300px;
  max-width: 450px;
  background-color: var(--color-white);
  border: 2px solid var(--color-dk-gray);
  border-radius: 3px;
  top: 17%;
  left: 50%;
  transform: translate(-50%);
  padding: 10px 0;
}

.modalBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-vry-dk-green);
  z-index: 1;
  opacity: .4;
}

.modalText {
  padding: 25px;
  font-size: 18px;
}

.modalButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0 25px 25px;
}

.modalButtons button {
  width: 114px;
  height: 40px;
}
