.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  max-height: 1000px;
  padding-bottom: 100px;
  background-color: var(--color-indigo);
  color: var(--color-white);
}

.welcome {
  font-size: 28px;
}

.title {
  font-size: 36px;
  padding-top: 10px;
}

.loginButtons {
  display: flex;
  flex-direction: column;
}
