.container {
  align-items: center;
  height: 100%;
  background-color: var(--color-indigo);
  color: var(--color-white);
  text-align: center;
  font-size: 22px;
}

.signIn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  height: 100%;
  max-height: 600px;
}

.welcome {
  font-size: 28px;
}

.title {
  font-size: 36px;
  padding-top: 10px;
}

.loginButtons {
  display: flex;
  flex-direction: column;
}

.loggedOut {
  padding: 0 30px;
  max-width: 400px;
}
