.listContainer {
  background-color: var(--color-gray);
  overflow: hidden;
}

.table thead {
  background-color: var(--color-indigo);
  color: var(--color-white);
}

.row {
  background: var(--color-white);
  color: var(--color-indigo);
}
