.link {
  cursor: pointer;
  color: var(--color-indigo);
  text-decoration: underline;
}

.listContainer {
  background-color: var(--color-white);
}

.table thead {
  background-color: var(--color-main-bg);
}

.row {
  background: #41AFC8;
  color: var(--color-white);
}
