body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --color-black: #171717;
  --color-danger: #ed494c;
  --color-gray: #e0e0e0;
  --color-inactive-gray: #9c9c9c;
  --color-green: #51915a;
  --color-vry-dk-green: #272d2d;
  --color-indigo: #284b63;
  --color-dk-magenta: #a30083;
  --color-white: #ffffff;

  --color-main-bg: #fcfffd;
  --color-secondary-bg: #edeaff;

  /* potential category colors */
  --color-lt-blue: #65b3fc;
  --gray-blue: #aaadc4;
  --orange: #eb4e1e;
  --salmon: #ee6c4d;
  --lt-brown: #A78682;
}

#root {
  color: var(--color-black);
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pageTitleContainer {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  padding: 50px 0 30px;
  height: 115px;
  box-sizing: border-box;
}

.pageTitle {
  padding: 0 10px;
  font-size: 24px;
}

.pageContentContainer {
  border: 1px solid var(--color-black);
  width: 80%;
  margin: 0 auto;
  /* 115px for the header and 95px for space at the bottom */
  height: calc(100% - 210px);
  overflow: auto;
  background-color: var(--color-secondary-bg);
}

.loadingContainer {
  font-size: 32px;
  padding-top: 10px;
}

/* Table Stylings */
.resourceTable {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.resourceTable thead {
  display: block;
  border-bottom: 1px solid var(--color-black);
}

.resourceTable td, .resourceTable th {
  width: 33%;
  padding: 10px 5px;
}

.resourceTable tr {
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.resourceTable tbody tr {
  margin: 3px;
  cursor: pointer;
}

.resourceTable tbody tr:last-child {
  margin-bottom: 20px;

}

.resourceTable tbody {
  display: block;
  /* 45px is the height of thead */
  height: calc(100% - 45px);
  overflow: auto;
}

/* Firebase UI Styling */
.firebaseui-idp-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  width: 200px;
}

.firebaseui-idp-icon {
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

.firebaseui-idp-text-long {
  display: none;
}

.firebaseui-idp-button {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 15px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  color: var(--color-black);
  cursor: pointer;
}

h1.firebaseui-title {
  color: var(--color-white);
}

.firebaseui-form-actions .mdl-button {
  color: var(--color-black);
  width: 70px;
  font-size: 16px;
}

.firebaseui-form-actions{
  display: flex;
  justify-content: space-evenly;
}

.firebaseui-label {
  font-size: 16px;
  padding-right: 10px;
}

.firebaseui-input {
  font-size: 16px;
  color: var(--color-black);
}

.firebaseui-link {
  color: var(--color-lt-blue);
  text-decoration: underline;
}

.firebaseui-form-links {
  font-size: 16px;
  padding-bottom: 10px;
}

.firebaseui-text-input-error {
  margin: 10px 0 15px;
}

/* Accessibility */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(100%); 
  height: 1px; 
  overflow: hidden; 
  position: absolute; 
  white-space: nowrap; 
  width: 1px; 
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .resourceTable tbody {
    /* 70px is the height of thead */
    height: calc(100% - 70px);
  }
}
